<div class="education-container">
    <div class="education-content">
      <h2>Education</h2>
      <p>
        I pursued my education at the University of Kentucky. I graduated with a bachelors in Computer Science
        and a minor in mathematics. During my academic journey, I achieved the following:
      </p>
      <ul>
        <li>4.0 Cumulative GPA</li>
        <li>Lewis Honors College Scholars in Engineering and Management Pathway Graduate</li>
        <li>Spring 2023 Department of Computer Science Outstanding Graduating Senior</li>
        <li>ACM Student Chapter President 2021 - 2023</li>
      </ul>
    </div>
    <div class="education-image">
      <img src="assets/university_of_kentucky.jpg" alt="University of Kentucky Campus">
    </div>
</div>
