<section id="career" class="d-flex flex-column justify-content-center align-items-center min-vh-100 py-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="timeline">
                    <!-- Timeline Item 1 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>June 2023 - Present</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>84.51°</h4>
                            <p>Position: Software Engineer</p>
                            <p>Details: <strong>Coming Soon</strong></p>
                        </div>
                    </div>

                    <!-- Timeline Item 2 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>August 2021 - May 2022</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>University of Kentucky Transformative Learning</h4>
                            <p>Position: Salesforce / SUMO Technician</p>
                            <ul>
                                <li>Designing and implementing UI using Visualforce pages for the organization's scheduling tool that has successfully scheduled thousands of student coaching appointments</li>
                                <li>Maintaining back-end systems within the Salesforce and Sumo platforms for error-free use by the organization</li>
                                <li>Communicating with a large team that has grown rapidly from under ten to over thirty coaches</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Timeline Item 3 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>June 2022 - August 2022</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>JPMorgan & Chase</h4>
                            <p>Position: Software Development Intern</p>
                            <ul>
                                <li>Programmed a chatbot using Rasa framework to answer FAQs and assist users with application support</li>
                                <li>Created microservices using Java Spring framework to retrieve data from an API endpoint and store in an Oracle DB</li>
                                <li>Wrote unit tests for microservice applications using Java unit testing and Mockito for 98% code coverage</li>
                                <li>Learned about interesting technologies like quantum computing, Maven, and React from tech talks and self-study</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Timeline Item 4 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>January 2022 - May 2022</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>Total Quality Logistics</h4>
                            <p>Position: Application Development Intern</p>
                            <ul>
                                <li>Developed in-house WinForms app using the .NET tech stack that allowed employees to manage over 10k loads a day</li>
                                <li>Identified and fixed production issues in company web apps using Angular, Node, and Git</li>
                                <li>Wrote stored procedures and queries in SQL for manipulation and retrieval of company data in databases</li>
                                <li>Collaborated with a team of developers to ensure strong coding practices and fast application speeds</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Timeline Item 5 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>May 2021 - August 2021</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>Divisions Maintenance Group</h4>
                            <p>Position: Product Group Intern</p>
                            <ul>
                                <li>Planned and conducted user research to inform new product design and features</li>
                                <li>Synthesized user research to create and present a summary of insights to the Chief Product Officer</li>
                                <li>Set up Jira sprint boards and Aha roadmaps via Jira integration which led to four-month project completion</li>
                                <li>Wrote, prioritized, and groomed user stories with the product team while participating in the team's agile ceremonies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>