<section id="career" class="d-flex flex-column justify-content-center align-items-center min-vh-100 py-5">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="timeline">
                    <!-- Timeline Item 1 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>June 2023 - Present</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>84.51°</h4>
                            <p>Position: Software Engineer</p>
                            <ul>
                                <li>Designing and implementing UI using Visualforce pages for the organization's scheduling tool that has successfully scheduled thousands of student coaching appointments</li>
                                <li>Maintaining back-end systems within the Salesforce and Sumo platforms for error-free use by the organization</li>
                                <li>Communicating with a large team that has grown rapidly from under ten to over thirty coaches</li>
                            </ul>
                        </div>
                    </div>

                    <!-- Timeline Item 2 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>June 2022 - August 2022</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>JPMorgan & Chase</h4>
                            <p>Position: Software Development Intern</p>
                            <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>

                    <!-- Timeline Item 3 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>August 2021 - May 2022</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>University of Kentucky Transformative Learning</h4>
                            <p>Position: Salesforce / SUMO Technician</p>
                            <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>

                    <!-- Timeline Item 4 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>January 2022 - May 2022</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>Total Quality Logistics</h4>
                            <p>Position: Application Development Intern</p>
                            <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>

                    <!-- Timeline Item 5 -->
                    <div class="timeline-item">
                        <div class="timeline-left">
                            <h5>May 2021 - August 2021</h5>
                        </div>
                        <div class="timeline-middle"></div>
                        <div class="timeline-right">
                            <h4>Divisions Maintenance Group</h4>
                            <p>Position: Product Group Intern</p>
                            <p>Details: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>